.awegreen-logo {
  width: 64px;
}

.login-container {
  width: 400px;
}

.signup-container {
  width: 450px;
}

.login-btn:hover, .signup-btn:hover {
  background-color: #20c25b !important;
}

.forgot-pass:hover, .signup:hover {
  text-decoration: underline !important;
}


.password-toggle {
  position: absolute;
  top: 50%;
  right: 0.6rem;
  transform: translateY(0%);
  border: none;
  background: transparent;
  color: #717A74;
  padding: 0.25rem;
  cursor: pointer;
  font-size: 1.05rem;
}

.password-toggle-error {
    transform: translateY(-40%);
}

.password-toggle:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(22,162,73,0.18);
  border-radius: 0.25rem;
}



.password-toggle:focus { 
  outline: none; 
  box-shadow: 0 0 0 0.2rem rgba(22,162,73,0.18); 
  border-radius: 0.25rem; 
}

.back-to-home:hover a,
.back-to-home:hover i {
  color: #20c25b;
}