@media screen and (max-width: 767px) {
  .assessment-actions .btn, .tasks-actions .btn {
    width: 100% !important;
  }

  /* ADMIN DASHBOARD */
  .dashboard-icon-con {
    width: 70px !important;
    height: 70px !important; 
  }

   /* MY PROILE */
  .my-profile-icon {
    width: 60px !important;
    height: 60px !important;
    font-size: 24px !important;
  }

  /* GLOBAL CSS */
  .admin-top-text h1 {
    font-size: 32px !important;
  }

  .mobile-fs-12 {
    font-size: 12px !important;
  }
/* 20px on pc */
  .mobile-fs-18 {
    font-size: 18px !important;
  }

  /* 24px on pc */
  .mobile-fs-22 {
    font-size: 22px !important;
  }

  /* 22px on pc */
  .mobile-fs-20 {
    font-size: 20px !important;
  }

  .mobile-fs-32 {
    font-size: 32px !important;
  }

}